<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel='stylesheet' href='/css/t_order.css'>
    <link href="/css/admin_page.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/t_order.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/js/move-top.js"></script>
    <script type="text/javascript" src="/js/easing.js"></script>
    <script src="/js/t_header.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){     
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
         setInterval(function() {
                  localStorage.clear();
                }, 60000); 
    </script>
    <!-- start-smoth-scrolling -->
    <!-- start menu -->
    <link href="/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/js/megamenu.js"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <script src="/js/menu_jquery.js"></script>
    <script src="/js/simpleCart.min.js"> </script>
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>

    <%include a_header.ejs%>
 </head>
<!-- top-header -->
<body>
<h4 class='page_header'> Today's Order </h4>
<% if (typeof orders !== 'undefined' && orders.length > 0) { %>
<div class="order_container">
	<%for(var i=0; i < orders.length; i++) {%>
		<div class="orders">
		<div class='order_header'>
			<div class='row'>
				<div class='o_date'>
					<div class='o_title'>
						ORDERED DATE
					</div>
					<div class='o_value'>
						<%= moment(orders[i].created_at).format( 'MMM-DD-YYYY') %>
					</div>
				</div>
				<div class='o_item_total'>
					<div class='o_title'>
						ITEMS TOTAL
					</div>
					<div class='o_value'>
						$<%= total_amount[orders[i].id].toFixed(2)%>
					</div>
				</div>
				<div class='o_shipping_charge'>
					<div class='o_title'>
						SHIPPING CHARGE
					</div>
					<div class='o_value'>
						$10.00
					</div>
				</div>
				<div class='o_total'>
					<div class='o_title'>
						TOTAL CHARGE
					</div>
					<div class='o_value'>
						$<%= (total_amount[orders[i].id] + 10.00).toFixed(2)%>
					</div>
				</div>
				<div class='o_address'>
					<div class='o_title'>
						SHIP TO
					</div>
					<div class='o_value'>
					<p>
						<%- orders[i].cust_name%>
					</p>
					<p>
						<%- orders[i].delivery_address%>
					</p>
					</div>
				</div>
				
			</div>
		</div>
		<div class="detail_container">
		<%for(var j=0; j < order_items[orders[i].id].length; j++) {%>
			<div class="order_detail">
				<div class='wrapper'>
					<div class='image_container'>
						<img src="/images/liquors/<%=order_items[orders[i].id][j].image%>" class="img-responsive" alt=""/>
					</div>

					<div class = 'item_description'>
								<div id='name' class='i_detail'>
									<p><%=order_items[orders[i].id][j].products_name %></p>
									</div>
									<div id='price' class='i_detail'>
										<p>$<%=order_items[orders[i].id][j].products_price%></p>
									</div>
									<div id='volume' class='i_detail'>
										<p><%=order_items[orders[i].id][j].volume %> </p>
									</div>
									<div id='qty' class='i_detail'>
										<p>qty: <%=order_items[orders[i].id][j].quantity%></p>
									</div>
					</div>
				</div>
				<!-- <div class='re_wrapper'>
					<div class='reorder_or_rate'>
						<span class='add_it'>
							<a class="add_cart" href="">ADD TO CART AGAIN</a>
						</span>
						<span class='rate_it'>
							<a class="o_rate" href="#">RATE THIS ITEM</a>
						</span>
					</div>
				</div> -->	
			</div>
			<%}%>
		</div>
		</div>
	<%}%>
<%} else { %>
	<div class='no_order'>
		<p> YOU HAVE NO ORDERS SO FAR.
	</div>
<%}%>

</body>
</html>