
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/t_register.css">
	<link rel="stylesheet" href="/css/t_products.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
	<!-- Add the slick-theme.css if you want default styling -->
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="/css/recommend_page.css"/>
	<script src="/js/recommend_page.js"></script>
	<script src="/js/admin_page.js"></script>
	
	<script src="/js/t_register.js"></script>
	<script src="/js/t_pcategory.js"></script>
	<!-- for rating -->
	<link rel="stylesheet" href="/css/jquery.rateyo.min.css"/>
	<%
		var prepareDetails = function(data_item){
    var item = {id: data_item.id,
    						name: data_item.name,
                category: data_item.category,
                size: data_item.volume,
                price: data_item.price,
                image: data_item.image
            }
    return item;
	}
	%>
     <% include t_header.ejs %>
     <style>
		#rating{
		    margin-left: 92px;
		}

	</style>
 </head>
 <body>
 <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<div class='sidebar'>
	<% include t_sidebar.ejs %>
</div>
<!-- products -->
<div>
	Featured Products
</div>
<%if(data.length <= 0){%>
<div class='s_result'>
	No Items Found
</div>
<%} else {%>
	<div class="products">
		<div class="container">
			<div class="products-grids">
				<div class="col-md-8 products-grid-left">
					<div class="products-grid-lft">
					<% for(var i=0; i < data.length; i++) { %>
						<div class="products-grd">
							<div class="p-one simpleCart_shelfItem prd">
								<a href="/products/<%=data[i].category.split(' ').join('_')%>/<%=data[i].id%>">
										<img src="/images/liquors/<%=data[i].image%>" alt="" class="img-responsive" />
								</a>
								<div>
									<span class='volume'><%=data[i].volume%></span>
								</div>
								<%rvalue = ratings[data[i].id] || 0%>
								<div id='rating' class='i_detail'>
									 <div class="readonly_rateyo" data-rvalue =<%=rvalue%>></div>
								</div>
								<div class='p_name' title='<%= data[i].name%>'><h4><%= data[i].name%></h4></div>
								<p><a class="item_add" data-itemdetails='<%=JSON.stringify(prepareDetails(data[i]))%>' href="<%=url%>"><i></i><span class=" item_price valsa"> $<%= data[i].price%></span></a></p>
							</div>	
						</div>
						<% } %>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
<%}%>

<% if (typeof rating_details != 'undefined'){%>
<div class="products">
	<div class="container">
	<div class='recommend_div'>
		You may also like:
	</div>
		<div class="products-grids">
			<div class="col-md-12 products-grid-left-index">
				<div class="products-grid-lft recommend_products">
				<% for(var i=0; i < recommended_items.length; i++) { %>
					<div class="products-grd-index">
						<div class="p-one simpleCart_shelfItem prd">
							<a href="/products/<%=recommended_items[i].category.split(' ').join('_')%>/<%=recommended_items[i].id%>">
								<img src="/images/liquors/<%=recommended_items[i].image%>" alt="" class="img-responsive recommend_img" />
							</a>
							<div>
								<span class='volume'><%=recommended_items[i].volume%></span>
							</div>
							<%r_rvalue = ratings[recommended_items[i].id] || 0%>						
								<div id='rating' class='i_detail'>
									 <div class="readonly_rateyo" data-rvalue =<%=r_rvalue%>></div>
								</div>
							<div class='p_name' title='<%= recommended_items[i].name%>'><h4><%= recommended_items[i].name%></h4></div>
							<p><a class="item_add" data-itemdetails='<%=JSON.stringify(prepareDetails(recommended_items[i]))%>' href="#"><i></i><span class=" item_price valsa"> $<%= recommended_items[i].price%></span></a></p>
						</div>	
					</div>
					<% } %>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
<%}%>

<script type="text/javascript" src="/js/jquery.rateyo.js"></script>
<script>

      $(function () {

        $(".rateyo").rateYo({
        	rating: 2,
        	fullStar: true,
        	starWidth: '16px',
        }).on("rateyo.set", function (e, data) { console.log(data.rating); });

        // $(".readonly_rateyo").rateYo({
        // 	rating:  $(this).data('rvalue'),
        // 	fullStar: true,
        // 	starWidth: '16px',
        // 	readOnly: true
        // })

        $(".readonly_rateyo").each( function() {
    		var rating = $(this).attr("data-rvalue");
    		$(this).rateYo(
	        {
	            rating: rating,
	            fullStar: true,
        		starWidth: '16px',
        		readOnly: true
	        }
	    	);
		});



      });
    </script>	

</body>
</html>